{% extends "base.html" %}

{% block content %}
  <header>
    <nav class="navbar navbar-light bg-light">
      <p class="navbar-brand">Электронный дневник</p>
      <a class="navbar-brand" href="#">{{ username }}</a>
    </nav>
  </header>
<main role="main" class="container" style="margin-top:150px; margin-left:600px;">
  <p style="font-size:20px;">{{ user.surname }}</p>
  <p style="font-size:20px;">{{ user.name }}</p>
  <p style="font-size:20px;">{{ user.father }}</p>
  <p style="font-size:20px;">{{ user.status }}</p>
  <p style="font-size:20px;">{{ user.schoolclass }}</p>
  <p style="font-size:20px;">{{ user.email }}</p>
  <a href="http://127.0.0.1:8080/login" style="color:red;font-size:20px">Выйти</a>
  <form action="" method="post">
     <p>{{ button.submit(type="submit", class="btn btn-primary") }}</p>
  </form>
</main>
{% endblock %}